@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-oswald: "Oswald", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #303030 #fff;
}

h2 {
  @apply text-3xl font-bold;
}

h1,
h2 {
  @apply text-zinc-950;
}

.flex__center {
  @apply flex items-center justify-center;
}

.flex__btw {
  @apply flex items-center justify-between;
}

.item__center {
  @apply flex items-center;
}

a:visited,
a:link {
  text-decoration: none;
}

.active__category {
  @apply border-b-2 border-primary;
}

.center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
}

.heading_bd::after,
.heading_bd::before {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
}

.heading_bd::after {
  height: 20%;
  width: 2px;
  top: 0;
  right: 0;
}

.heading_bd::before {
  height: 2px;
  width: 75%;
  top: 0;
  right: 0;
}

/* unused style */
.animate_hover:hover {
  animation: productCard 0.3s both;
}

.footer_items {
  @apply flex flex-col gap-2 font-roboto text-sm font-medium leading-6 text-neutral-400;
}

@keyframes productCard {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
  }
}

/* Hide the default password visibility toggle icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-clear-button {
  display: none;
}

input[type="password"]::-moz-clear {
  display: none;
}

input[type="password"]::-webkit-clear-button {
  display: none;
}

input[type="password"]::-webkit-clear-button {
  display: none;
}

.swiper-button-next {
  background-color: #000; /* Change background color */
  width: 40px; /* Adjust size */
  height: 40px;
  color: #fff; /* Change icon color */
}

/* Customize the prev button */
.swiper-button-prev {
  background-color: #000;
  width: 40px;
  height: 40px;
  color: #fff;
}

.swiper-button-disabled {
  visibility: hidden;
  cursor: not-allowed;
  pointer-events: none; /* Prevent click events */
}

.swiper-pagination-bullet {
  @apply mr-1 h-3 w-3 rounded-none border-2 border-primary bg-transparent opacity-100;
}

.swiper-pagination-bullet-active {
  @apply h-4 w-4 bg-primary;
}
