.toggle-checkbox-wrapper {
  display: flex;
  align-items: center;
}

.hidden-checkbox {
  display: none;
}

.toggle-checkbox {
  width: 46px;
  height: 21px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-checkbox .toggle-thumb {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.hidden-checkbox:checked + .toggle-checkbox {
  background-color: #4caf50;
}

.hidden-checkbox:checked + .toggle-checkbox .toggle-thumb {
  transform: translateX(25px);
}
