extends baseEmail

block content
    p Hi #{firstName},
    br
    p We're sorry to see you go! 😢
    p You have been successfully unsubscribed from Dekato's newsletter. You will no longer receive marketing emails from us. Please note that you may still receive important account-related emails such as login notifications, order confirmations, and security alerts.
    p If you change your mind, you can always resubscribe through your account settings or our website.
    p Thank you for being part of our community.
    p - The Dekato Team
